body{
    color:#444;
    margin:0;
    /* pxは0 */
    padding: 0;
    line-height: 150%;
}
/* トップバナー */

#top-baner{
    width: 100%;
}
/* 横幅いっぱいに表示される */

/* ヘッダー */
header{
    margin-bottom:15px;
    height: 200px;
}
/* margin-bottomはしただけ指定 */
header h1{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    margin: 15px;
    padding: 20px;
    text-align: center;
    float: left;
    height: 150px;
    width: 150px;
    background: #f6f5f5;
    border-radius: 100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    line-height: 150px;

}
/* line-heightは行間 */

header h1 a{
    color:#333;
    text-decoration: none;
}

/* text-decorationはリンクの線を消す */

/* ナビゲーション */

#top-nav{
    float: right;
    width: 500px;
    height: 200px;
    position: relative;
}
nav a{
    padding: 10px 15px;
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
#top-nav ul{
    height: 40px;
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
}

#top-nav ul li{
    float: left;
}

/* floatで横並びになる */

.site-width{
    width: 980px;
    margin: 0 auto;
}
/* 中央揃えはautoにする */
section h1.title{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

footer{
    font-size: 12px;
    padding: 15px;
    background: #333;
    text-align: center;
    color: #f6f5f5;
}

footer a{
    color: ;
}

