#title{
    background: #333;
    padding: 15px;
    color: white;
}

.bg-color1{
    background: #f6f5f5;
    
}

p.bg-color1{
    color:red;
    
}
p{
    font-size:10px; width: 1028px;
}

/* padding内側、margin外側の余白指定　borderはボックスの境界の色 */
/* pxは文字の大きさ幅を指定、％はボックスの要素の大きさ */