#title{
    background: #333;
    padding: 15px;
    color: white;
}

.bg-color1{
    background: #f6f5f5;
    
}

p.bg-color1{
    color:red;
    
}
p{
    position:fixed;
    top:100px;
}

p{
    float:right;
    top:100px;
}

/* fixedはその場所から動かない */
/* floatは横に並べれる */